.row{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
   }
   
   div{
       background-color: #1b222e;
   }
   
   h2,h3{
    display: inline;
    color:#a58956;

}

h1 {
    text-decoration: underline;
    color:#9ba1b1;
  }

  td{
    color: #dfab77;
  }