.row{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
   }
   
   div{
       background-color: #508bfc;
   }
   
   h2,h3{
       display: inline;
   }

   h2 {
    text-decoration: underline;
  }