<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>    
    <div class="col-lg-11">
            <ul>
                <li>
                    <h3>Trabajo1</h3> - <h3>(years)</h3>
                </li>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam mollitia, molestiae quae voluptatem possimus rerum ducimus nobis facere inventore animi vitae eius non, tenetur officia illo amet. Illo, cupiditate neque.</p>  
            </ul>
            <ul>
                <li>
                    <h3>Trabajo1</h3> - <h3>(years)</h3>
                </li>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam mollitia, molestiae quae voluptatem possimus rerum ducimus nobis facere inventore animi vitae eius non, tenetur officia illo amet. Illo, cupiditate neque.</p>  
            </ul>
            <ul>
                <li>
                    <h3>Trabajo1</h3> - <h3>(years)</h3>
                </li>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam mollitia, molestiae quae voluptatem possimus rerum ducimus nobis facere inventore animi vitae eius non, tenetur officia illo amet. Illo, cupiditate neque.</p>  
            </ul>


        </div>

</div>