<div class="row">
    <h1>Proyectos Realizados: </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>To Do List</h3>
        <p>Clasica aplicacion que mantiene una lista de tareas realizada en Angular y TypeScript</p></div>
    
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"><a href="https://github.com/Uliss0/To-Do-List" target="_blank"> <img src="https://th.bing.com/th/id/R.92a5744a321597c9039cfc531e3da7c4?rik=Elu4gQ0DpVJsiA&pid=ImgRaw&r=0 " class="img-fluid img-mundos"  ></a></div></div>
       
    <div class="contenedor2">
        <div class="col-sm-12 col-md-7 col-lg-7 parte3">
            <h3>Mundos Paralelos / Paralel Worlds</h3>
            <p>Juego hecho para la Game Jam (48hs) organizada por DVBahía en Noviembre de 2020. Seleccionado para formar parte de la galería virtual aniversario de la organización Women in Games Argentina.</p></div>
    
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte4">
        <a href="https://lucu20.itch.io/mundos-paralelos-game-jam-bahia-blanca" target="_blank"> <img src="https://img.itch.zone/aW1nLzQ5OTEzOTkucG5n/original/%2B4WTlv.png" class="img-fluid img-mundos"  ></a></div>
    </div> 
        
        
</div>
