<div class="row">
    <h2>Proyectos Realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h3>To Do List</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus enim iste explicabo libero facilis magni officia aliquid ad, numquam hic harum debitis tempora esse odio quae amet doloribus voluptatem modi?</p></div>
    
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"><img src="https://th.bing.com/th/id/R.92a5744a321597c9039cfc531e3da7c4?rik=Elu4gQ0DpVJsiA&pid=ImgRaw&r=0 " class="img-fluid img-todo"></div></div>
       
    <div class="contenedor2">
        <div class="col-sm-12 col-md-7 col-lg-7 parte3">
            <h3>Mundos Paralelos / Paralel Worlds</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quo ullam sit sequi eius cupiditate veritatis a consectetur molestiae tempora corrupti, provident saepe dolores ratione eligendi beatae sed accusantium voluptate.</p></div>
    
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte4">
            <img src="https://img.itch.zone/aW1nLzQ5OTEzOTkucG5n/original/%2B4WTlv.png" class="img-fluid img-mundos"></div>
    </div> 
        
        
</div>
