<div class="div"></div>
<div class="row">  
    <h2>Hard & Soft Skills</h2>
    <div class="">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div> 
    
        <div class="text-center col-sm-2 col-md-2 col-lg-2 circulo"*ngFor="let skill of skill"><circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="12"
            [outerStrokeColor]="'#011017'"
            [innerStrokeColor]="'#a58956'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="300"
            [showImage]="false"
            [imageSrc]="'../assets/skillsicons/html.png'"
            [title]="(skill.nombre + ':')  +(skill.porcentaje + '%')"
            [showTitle]="true"
            [titleColor]="'#f5f5dc'"
            [imageHeight]="70"
            [imageWidth]="70"
            [responsive]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            
           
    ></circle-progress>
   <div>
    <td *ngIf="isLogged">
            <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-fill"></i></button></td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash-fill"></i></button></td></div>
            
    
    
</div>

</div>