<div class="div"></div>
<div class="row">  
    <h2>Hard & Soft Skills</h2>
    
        <div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
            [percent]="95"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="12"
            [outerStrokeColor]="'#011017'"
            [innerStrokeColor]="'#DCDCDC'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="300"
            [showImage]="true"
            [imageSrc]="'../assets/skillsicons/html.png'"
            [imageHeight]="70"
            [imageWidth]="70"
            [responsive]="true"
            
            

    ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#011017'"
        [innerStrokeColor]="'#DCDCDC'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showImage]="true"
        [imageSrc]="'../assets/skillsicons/CSS.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [responsive]="true"


></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#DCDCDC'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/js.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"


></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/angular.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"



></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/git.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"


></circle-progress>
</div>


<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/sql.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"



></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/eng.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"


></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/spring.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"


></circle-progress>
</div>

<div class="text-center col-sm-2 col-md-2 col-lg-2"><circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [outerStrokeColor]="'#011017'"
    [innerStrokeColor]="'#DCDCDC'"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/skillsicons/java.png'"
    [imageHeight]="70"
    [imageWidth]="70"
    [responsive]="true"
    
    


></circle-progress>
</div>
        
    

</div>