
    <div class="row">
        <div class="col-xs 12 col-sm-2 col-lg-2"> <img src="../../../assets/perfil.png" class="img-fluid" id="fotoperfil"></div>
    
    
    <div class="col-xs 12 col-sm-8 col-lg-8"><span>
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis ab asperiores, minus aperiam magni libero tenetur veniam voluptatem natus expedita. Inventore nobis ducimus officiis ipsa qui enim quos pariatur mollitia!</p> </span>
    </div>
    
</div>